<section class="py-5">
  <div class="container">
    <div class="content about-content">
        <div class="container-fluid about-container row">
            <div class="profile-pic-wrapper col-md-4 col-12">
                <img id="profile-pic" src="/assets/images/profile.JPG">
            </div>
            <div class="about-text col-md-8 col-12">
                <h1>about</h1>
                <p>I am a PhD candidate in the Department of Earth Sciences, University of Cambridge. The focus of my research is seismic anisotropy in the crust and mantle. I am working on the north Borneo Orogeny Seismic Survey (nBOSS) project </p>
            </div>  
        </div>          
    </div>
  </div>
</section>