<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">Askja, Iceland</h1>
      </div>
    </div>
  </div>
</header>

<section class="py-5">
  <div class="container">
    <div class="content about-content">
      <div class="container-fluid about-container row">
        <div class="profile-pic-wrapper col-md-5 col-12">
          <img id="profile-pic" src="/assets/images/profile.jpeg">
        </div>
        <div class="about-text col-md-7 col-12">
          <hr>
          <p text-justify>I am currently a post-doctoral research scientist on the AVERT (Anticipating Volcanic
            Eruptions in Real Time) project at the Lamont-Doherty Earth Observatory, Columbia University. The goal of
            this project is to monitor volcanic unrest using multi-disciplinary instrumentation (GNSS, seismometers, gas
            emission, webcam), edge computing, and near-real-time data transmission, with an aim to improve our
            real-time eruption forecasting capabilities.</p>

          <p>We are instrumenting Cleveland (Aleut - Chuginadak) and Okmok (Aleut - Unmagim Anatuu) volcanoes, which
            represent "open" and "closed" volcanic systems—for more information, see the <a
              href="https://avert.ldeo.columbia.edu/">project website</a>.</p>

          <p>I completed my PhD at the University of Cambridge, where I worked on microseismic detection and seismic
            anisotropy in both Iceland and northern Borneo. Fell in love with fieldwork—chasing it ever since.</p>

          <p>Free and open science is the future.</p>

        </div>
      </div>
    </div>
  </div>
</section>