<section class="py-5">
    <div class="container container-home container-fluid">
        <div class="content about-content">
            <div class="row">
                <div class="col"></div>
                <div class="profile-pic-wrapper col-8 col-sm-6 col-md-5 col-lg-3 col-xl-3">
                    <img id="profile-pic" src="/assets/images/profile.jpeg">
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="about-text col-10 col-sm-10 col-md-8 col-xl-7">
                    <hr>
                    <p>
                        I am currently a post-doctoral research scientist at the Lamont-Doherty Earth Observatory (LDEO) at Columbia University.
                    </p>
                    <p>
                        I am interested in the relationship between stress, structure, and seismicity in volcanic environments, particularly how these factors evolve during volcanic intrusions. I develop software for the construction of high-fidelity catalogues of microseismicity from raw seismic data, including analysis tools for magnitude estimates, focal mechanisms, and seismic anisotropy, as well as analytical forward modelling tools for deformation and seismic anisotropy. 
                    </p>
                    <p>
                        At LDEO, I am working as part of the <a href="https://avert.ldeo.columbia.edu/">AVERT (Anticipating Volcanic Eruptions in Real Time) project</a> to develop and field test a rugged hardware/software system for multi-disciplinary monitoring of remote volcanic systems. We are currently operating a near-real-time network on Cleveland volcano, in the Aleutian arc, as well as supporting the efforts of the Alaska Volcano Observatory at nearby Okmok volcano. Data from our geodetic, seismic, magnetic, and imagery (both infrared and visible spectrum) instruments are transmitted via satellite back to our servers, where they are made immediately available via our web portal.
                    </p>
                    <p>
                        My PhD research was centered on microseismic detection and seismic anisotropy in Iceland and northern Borneo—see the research tab for a link to my dissertation. I have spent a good deal of time deploying, servicing, and de-commissioning seismic networks and dealing with the multitude of admin that is part and parcel of acquiring, and curating an archive of, high-quality seismic data.
                    </p>
                    <p>
                        I am an advocate for widening access to data and scientific research in general by improving practices out in the field and by the free publication of open-source tools and workflows that can be run at any scale. Critical to that is the promotion of best practices/pre-existing tools, community collaboration, and effective communication of ideas, from the mundane to the intricate.
                    </p>
                    <p>
                        Currently...
                    </p>
                    <p>
                        ...interested in: 
                        {% for interest in page.interests %}
                            {%- if forloop.length > 0 -%}
                                {{ interest }}{% unless forloop.last %} - {% endunless -%}
                            {%- endif -%}
                        {% endfor %}
                    </p>
                    <p>
                        ...reading: 
                        {% for book in page.books %}
                            {%- if forloop.length > 0 -%}
                                {{ book }}{% unless forloop.last %} - {% endunless -%}
                            {%- endif -%}
                        {% endfor %}
                    </p>
                    <p>
                        ...listening to things like:
                        {% for beat in page.beats %}
                            {%- if forloop.length > 0 -%}
                            <a href="https://www.youtube.com/watch?v={{ beat }}">this</a>{% unless forloop.last %} - {% endunless -%}
                            {%- endif -%}
                        {% endfor %}
                    </p>
                    <p>
                        ...learning:
                        {% for thing in page.learning %}
                            {%- if forloop.length > 0 -%}
                                {{ thing }}{% unless forloop.last %} - {% endunless -%}
                            {%- endif -%}
                        {% endfor %}
                    </p>
                    <p>
                        Free and open science is the future.
                    </p>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</section>