<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <span class="navbar-brand">
    <a id="nav-title" href="{{ site.url }}">conor bacon</a>
  </span>
  <button class="navbar-toggler" type="button" data-toggle="offcanvas" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse offcanvas-collapse navbar-light bg-light" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="about">about</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="research">research</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          teaching
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="teaching/iamaths">ia maths</a>
          <!-- <div class="dropdown-divider"></div> -->
        </div>
      </li>
    </ul>
    <a class="btn btn-social-icon btn-linkedin navbar-btn" href="https://www.linkedin.com/in/conor-bacon-25858111a/" target="_blank">
        <span class="fab fa-linkedin"></span>
    </a>
    <a class="btn btn-social-icon btn-twitter navbar-btn" href="https://www.twitter.com/Conor_nBOSS" target="_blank">
        <span class="fab fa-twitter"></span>
    </a>
    <a class="btn btn-social-icon btn-instagram navbar-btn" href="https://www.instagram.com/_hemmelig/" target="_blank">
        <span class="fab fa-instagram"></span>
    </a>
  </div>
</nav>