<nav class="navbar navbar-expand-lg fixed-top">
  <button class="navbar-toggler mx-3" type="button" data-toggle="offcanvas" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse justify-content-center offcanvas-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ site.url }}">//about</a>
      </li>
      {% for nav_item in site.nav.main %}
      <li class="nav-item">
        <a class="nav-link" href="{{ nav_item[1] }}">//{{ nav_item[0] }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>