<section class="py-5">
    <div class="container">
        <div class="content about-content">
            <h1>Research</h1>
            <hr>
            <p>You can also find me on <a href="https://scholar.google.com/citations?user=02Lc7pEAAAAJ&hl=en">Google
                    scholar</a>.</p>
            <h2>2022</h2>
            <hr>
            {% include research_snippets/2022/s00445-022-01603-2.html %}
            <p> </p>
            {% include research_snippets/2022/2022GL099123.html %}
            <p> </p>
            {% include research_snippets/2022/s41598-022-13896-6.html %}
            <p> </p>
            {% include research_snippets/2022/2022GC010564.html %}
            <p> </p>
            {% include research_snippets/2022/2021JB022655.html %}
            <hr>
            <h2>2021</h2>
            <hr>
            {% include research_snippets/2021/thesis21.html %}
            <p> </p>

        </div>
    </div>
</section>