<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="/assets/js/offcanvas.js"></script>

<script type="text/javascript" src="/assets/js/instafeed.min.js"></script>

{% assign instafeed_template = '<div class="col-xs-12 col-sm-6 col-md-4"><a href="{{link}}"><div class="img-featured-container"><div class="img-backdrop"></div><div class="description-container"><p class="caption">{{caption}}</p><span class="likes"><i class="icon ion-heart"></i> {{likes}}</span><span class="comments"><i class="icon ion-chatbubble"></i> {{comments}}</span></div><img src="{{image}}" class="img-responsive"></div></a></div>' %}

<script type="text/javascript">
    var feed = new Instafeed({
      get: "user",
      userId: 2347607581,
      accessToken: "2347607581.c8e096b.b037b738dcdb4a8580d21f847155ca76",
      resolution: "standard_resolution",
      useHttp: "true",
      limit: 3,
      template: '{{ instafeed_template }}',
      target: "instafeed",
    });
    feed.run();
</script>