<script src="https://code.jquery.com/jquery-3.6.3.slim.min.js" integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo=" crossorigin="anonymous"></script>
<script src="/assets/js/offcanvas.js"></script>

<script type="text/javascript">
  function sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
  }
</script>

<script type="text/javascript">
  async function copyTextToClipboard(el) {
    const idToGet = "#citation-" + el.id.split("--")[1]
      const citationEl = document.querySelector(idToGet)
      navigator.clipboard.writeText(citationEl.textContent);
      el.textContent = "Copied!";
      await sleep(1500);
      el.textContent = 'Copy';
  }
</script>