<div class="row">
    <div class="col"></div>
    <div class="col-10 col-sm-10 col-md-8 col-xl-7">
        <ul class="nav nav-tabs" id="tabbed-software">
            {% for software-item in page.works %}
                <li class="nav-item">
                    <a href="#{{ software-item[1].title }}" class="tab-link nav-link{% if forloop.first %} active{% endif %}" data-bs-toggle="tab">{{ software-item[1].title }}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for software-item in page.works %}
                <div class="tab-pane fade show{% if forloop.first %} active{% endif %}" id="{{ software-item[1].title }}">
                    <div class="row m-4">
                        <div class="content-pic-wrapper col-md-5 col-12">
                            <a href="{{ software-item[1].repo }}"><img class="software-summary-img" src="{{ software-item[1].img }}"></a>
                        </div>
                        <div class="col-md-7 col-12 px-4">
                            <p>
                                {{ software-item[1].description }}
                            </p>
                            {%- if software-item[1].doi -%}
                                <p>
                                    DOI (code): <a href="https://doi.org/{{ software-item[1].doi }}">{{ software-item[1].doi }}</a>
                                </p>
                            {%- else -%}
                                <p>
                                    DOI (code): to come
                                </p>
                            {%- endif -%}
                            <p>
                                GitHub repo: <a href="{{ software-item[1].repo }}">here</a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr />
    </div>
    <div class="col"></div>
</div>