html, body {
	margin: 0;
	padding: 0;
  	height: 100vh;
  	width: 100%;
}

a, a:active, a:focus {
   outline: none;
}

/* 
##########################
###   Navbar content   ###
##########################
*/

#nav-title {
	text-decoration: none;
	color: gray;
}

.navbar-brand {
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	margin-right: 15px;
	color: gray;
}

.navbar, a {
	font-family: 'Raleway', sans-serif;
}

.navbar-btn {
	margin-left: 10px;
	margin-right: 10px;
}

.navbar-toggler {
	color: white;
}

/*
##########################
*/

 .main-wrapper {
	height: calc(100%);
	width: 100%;
	background-color: rgba (166, 166, 166, 0.4);
}

/*
##########################
###   Splash content   ###
##########################
*/

section {
	width:100%;
	float:left;
}

.post-title-block{
	padding: 100px 0;
}

.post-title-block h1 {
	color: #fff;
	font-size: 85px;
	font-weight: bold;
	text-transform: capitalize;
}

.post-title-block li{
	font-size: 20px;
	color: #fff;
}

.image-block{
	float: left;
	width: 100%; margin-bottom:10px;
}

.container-home {
	max-width: 100% !important;
}

.footer-link{
	float: left;
	width: 100%; 
	background: #222222;
	text-align: center;
	padding: 15px;
}

.footer-link span{
	color: white;
	font-size:14px;
}

 /*
##########################
*/

.about-content {
	font-family: 'Open Sans', sans-serif;
	text-align: justify;
	text-justify: inter-word;
}

.about-container {
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
}
.about-text p {
	font-size: 18px;
}

/* 
Extra small devices (portrait phones, less than 544px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
.container-fluid, h1 {font-size:2rem;} /*1rem = 16px*/
/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 400px) {  
	.container-fluid, h1 {
		font-size:2.5rem;
		} /*1rem = 16px*/
	#splash-title {
		justify-content: flex-end;
	}
	.masthead {
		background-position: -300px -100px;
	}
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
	.container-fluid, h1 {
		font-size:3rem;
		} /*1rem = 16px*/
	.splash-content {
		padding: 10% 10% 5% 10%;
	}
	.masthead {
		background-position: 0px -100px;
	}
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.container-fluid, h1 {
		font-size:3.5rem;
		} /*1rem = 16px*/
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
	.container-fluid, h1 {
		font-size:4rem;
		} /*1rem = 16px*/    
}

#profile-pic {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	border-radius: 10px;
	border: 5px solid #333
}

.profile-pic-wrapper {
	width: 500px;
	border: 0;
	padding: 0;
}

.content-pic-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 500px;
	border: 0;
	padding: 0;
}

.software-summary-img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	border-radius: 10px;
	border: 5px solid #666
}

.research-summary-img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	border-radius: 10px;
	border: 5px solid #ddd
}

.about-text {
	padding-top: 25px;
}

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
body {
  font-family: 'Lato', "Helvetica", Arial, sans-serif;
}

/* remove bootstrap gutter*/
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}


/* the good stuff */
/* body {
} */

.img-featured-container {
  overflow: hidden;
  position: relative;
}

.img-featured-container img {
  width: 100%;
/*   padding: 10px; */
}

.img-featured-container .img-backdrop {
  background: linear-gradient(135deg, rgba(38, 163, 255, 0.85), rgba(83, 201, 179, 0.85));
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s ease;
}

.img-featured-container:hover > .img-backdrop {
  opacity: 1;
}

/* center text horizontally and vertically on image hover */
.img-featured-container .description-container {
  color: #fff;
  font-size: 16px;
  line-height: 1.2;
  padding: 0 30px;
  text-align: center;
  line-height: 20px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  z-index: 2;
  opacity: 0;
  transition: all .2s ease;
}

.img-featured-container .description-container .fa-instagram {
  font-size: 40px;
}

.img-featured-container .description-container p {
  font-weight: 300;
  margin-bottom: 0;
}

.img-featured-container:hover .description-container {
  opacity: 1;
}

.img-featured-container .description-container .caption {
  display: none;
  margin-bottom: 10px;
}

.img-featured-container .description-container .likes,
.img-featured-container .description-container .comments {
  margin: 0 5px;
}

.photos a {
    width: calc(100%/3);
    height: calc(100%/3);
}

/* media queries  */
@media screen and (min-width:768px) {
  .img-featured-container .description-container .caption {
    display: block;
  }
}

/*
##########################
###    Post outline    ###
##########################
*/

.post-outline {
    display: flex;
    justify-content: center;
    align-items: center;
}


pre[class*="language-"] button {
	position: absolute;
	top: 5px;
	right: 5px;
  
	font-size: 0.9rem;
	padding: 0.15rem;
	background-color: #828282;
  
	border: ridge 1px #7b7b7c;
	border-radius: 5px;
	text-shadow: #c4c4c4 0 0 2px;
  }
  
  pre[class*="language-"] button:hover {
	cursor: pointer;
	background-color: #bcbabb;
  }

.citation {
	position: relative;
	margin: 10px 0 ;
	padding: 10px 10px;
	font-size: 0.8rem;
	color:#222222;
}