/*
### UI COLOUR MODES ###
*/

/* DARK MODE */
[data-bs-theme="dark"] {
	--font-color: #d6d6d6;
	--background-color: #282828;
	--content-link-color: #fff;
	--profile-picture-border-color: #ccc;
}

/* LIGHT MODE */
[data-bs-theme="light"] {
	--font-color: #373737;
	--background-color: #fbfbfb;
	--content-link-color: #000;
	--profile-picture-border-color: #333;
}

a, a:active, a:focus {
   outline: none;
   text-decoration: None!important;
}

/* 
##########################
###   Navbar content   ###
##########################
*/

.navbar, a {
	font-family: 'Anonymous Pro', monospace;
	font-size: 1.1rem;
}

.navbar-btn {
	margin-left: 10px;
	margin-right: 10px;
}

.nav-tabs {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2rem;
}

.tab-link {
	font-family: 'Anonymous Pro', monospace;
	color: #525252!important;
}

/*
##########################
*/

.full-height {
	min-height: 86vh;
}

.content {
	font-family: 'Open Sans', sans-serif;
	text-align: justify;
	text-justify: inter-word;
	min-width: 100%;
}

.content p {
	font-size: 1.2rem;
}

.container {
	padding: 0 !important;
	max-width: 100% !important;
}

.footer-link{
	text-align: center;
	padding: 15px;
}

/* 
Extra small devices (portrait phones, less than 544px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
.container-fluid, h1 {font-size:2rem;} /*1rem = 16px*/
/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 400px) {  
	.container-fluid, h1 {
		font-size:2.5rem;
		} /*1rem = 16px*/
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
	.container-fluid, h1 {
		font-size:3rem;
		} /*1rem = 16px*/
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.container-fluid, h1 {
		font-size:3.5rem;
		} /*1rem = 16px*/
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
	.container-fluid, h1 {
		font-size:4rem;
		} /*1rem = 16px*/    
}

#profile-pic {
	width: 100%;
	border-radius: 10px;
	border: 5px solid var(--profile-picture-border-color);
}

.research-figure {
	width: 100%;
}

.content-pic-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	/* max-width: 100%; */
	border-radius: 10px;
	border: 10px solid white;
	padding: 0;
	background-color: white;
}

.software-summary-img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	border-radius: 35px;
}

.research-summary-img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.citation {
	font-family: 'Anonymous Pro', monospace;
	position: relative;
	margin: 10px 0 ;
	padding: 10px 10px;
	font-size: 0.8rem;
	color:var(--font-color);
}

body, .navbar, .footer-link, .tab-link, .nav-link {
	color: var(--font-color)!important;
	background-color: var(--background-color);
}

.content-text a {
	color: var(--content-link-color)!important;
	font-weight: bold;
}

.map-container {
	width: 100%;
	height: 700px;
	z-index: 0;
}

.map {
	height: 100%;
	border-radius: 10px;
	border: 5px solid var(--profile-picture-border-color);
}

.map-data h4 {
	color: black;
}
