<div class="container-fluid about-container row">
    <div class="content-pic-wrapper col-md-5 col-12">
        <img id="profile-pic" src="/assets/images/research/jgr22_figure4.jpg">
    </div>
    <div class="about-text col-md-7 col-12">
        <h4>On the origin of seismic anisotropy in the shallow crust of the Northern Volcanic Zone, Iceland
        </h4>
        <hr>
        <p><b>Cite as:</b><br><code class="citation language-css">
        <b>Bacon, C. A.</b>, Johnson, J. H., White, R. S. and Rawlinson, N. (2022). On the origin of
        seismic anisotropy in the shallow crust of the Northern Volcanic Zone, Iceland.
        <i>Journal of Geophysical Research: Solid Earth, 127</i>, e2021JB022655.
        </code></p>

        <p><b>DOI:</b> <a href="https://doi.org/10.1029/2021JB022655">10.1029/2021JB022655</a></p>
        <p><b>Code:</b> <a href="https://github.com/hemmelig/2021JB022655">GitHub repository</a></p>
    </div>
</div>