<div class="container-fluid about-container row">
    <div class="content-pic-wrapper col-md-5 col-12">
        <img id="profile-pic" src="/assets/images/research/grl22_figure4.png">
    </div>
    <div class="about-text col-md-7 col-12">
        <h4>Collision-induced subduction polarity reversal explains the crustal
            structure of northern Borneo: New results from Virtual Deep Seismic Sounding (VDSS)</h4>
        <hr>
        <p><b>Cite as:</b><br><code class="citation language-css">
            Linang, H. T., Pilia, S., Rawlinson, N., <b>Bacon, C. A.</b>, Gilligan, A., Cornwell, D. G., &
            Tongkul, F. (2022). Collision-induced subduction polarity reversal explains the crustal
            structure of northern Borneo: New results from Virtual Deep Seismic Sounding (VDSS).
            <i>Geophysical Research Letters, 49</i>, e2022GL099123.
            </code></p>

        <p><b>DOI:</b> <a href="https://doi.org/10.1029/2022GL099123">10.1029/2022GL099123</a></p>
    </div>
</div>