<div class="container-fluid about-container row">
    <div class="content-pic-wrapper col-md-5 col-12">
        <img id="profile-pic" src="/assets/images/research/nature_SR_java_fault.png">
    </div>
    <div class="about-text col-md-7 col-12">
        <h4>Implications for fault locking south of Jakarta from an investigation of seismic activity along
            the Baribis fault, northwestern Java, Indonesia</h4>
        <hr>
        <p><b>Cite as:</b><br><code class="citation language-css">
            Widiyantoro, S., Supendi, P., Ardianto, A., Baskara, A. W., <b>Bacon, C. A.</b>, Damanik, R.,
            Rawlinson, N., Gunawan, E., Sahara, D. P., Zulfakriza, Z., Husni, Y. M. and Lesmana, A., (2022).
            Implications for fault locking south of Jakarta from an investigation of seismic activity along
            the Baribis fault, northwestern Java, Indonesia. <i>Scientific reports, 12</i>, 1–10.
            </code></p>

        <p><b>DOI:</b> <a href="https://doi.org/10.1038/s41598-022-13896-6">10.1038/s41598-022-13896-6</a></p>
    </div>
</div>