<div class="container-fluid about-container row">
    <div class="content-pic-wrapper col-md-5 col-12">
        <img id="profile-pic" src="/assets/images/research/thesis.png">
    </div>
    <div class="about-text col-md-7 col-12">
        <h4>Seismic anisotropy and microseismicity: from crustal formation to
            subduction termination</h4>
        <hr>
        <p><b>Cite as:</b><br><code class="citation language-css">
            <b>Bacon, C. A.</b> (2021). Seismic anisotropy and microseismicity: from crustal formation to
            subduction termination (Doctoral thesis), University of Cambridge.
            </code></p>

        <p><b>DOI:</b> <a href="https://doi.org/10.17863/CAM.82196">10.17863/CAM.82196</a></p>
        <p><b>Code:</b> <a href="https://github.com/hemmelig/phd-thesis">GitHub repository</a></p>
    </div>
</div>